# Arquivos de compilação do PyInstaller
build/
dist/
*.spec

# Cache do Python
__pycache__/
*.pyc

# Banco de dados local e variáveis de ambiente
*.db
.env

# Ambientes virtuais (se usar venv ou env)
venv/
env/
.venv/