# Ambientes Virtuais
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.pyc

# Arquivos de Compilação do PyInstaller
build/
dist/

# Bancos de Dados Locais (Proteção de dados)
*.db
*.sqlite
*.sqlite3

# Variáveis de Ambiente
.env

# Configurações de Editores
.vscode/
.idea/